BeautifulSoup==3.2.1
Django==1.4.2
FeinCMS==1.6.3
Markdown==2.2.1
MySQL-python==1.2.4c1
PIL==1.1.7
Pygments==1.5
South==0.7.6
distribute==0.6.27
django-appconf==0.5
django-coffeescript==0.5.1
django-compressor==1.2
django-debug-toolbar==0.9.4
django-filebrowser==3.5.0
django-grappelli==2.4.2
django-modeltranslation==0.4.0-beta2
django-mptt==0.5.4
django-tinymce==1.5.1b2
docutils==0.9.1
easy-thumbnails==1.1
feedparser==5.1.2
flup==1.0.3.dev-20110405
hamlpy==0.82.2
versiontools==1.9.1
wsgiref==0.1.2
